
.business-header {
    /*height: 400px;*/
    background: url('https://d1lrmnchp1ja3v.cloudfront.net/assets/marketing/hero-bg2-44e94fb5b480cec372b8809bb6439a91.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

#nav.affix {
   margin-top: -50px;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition:all .9s ease-in-out;
}

#nav {
    margin-top: 0px;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
}

.l-wrapper {
    width: 100%;
    margin: 0 auto;
}
.u-pt3 {
    margin-top: 100px !important;
}
.img-round {
    margin-right: -20px;
}

/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}