.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#4CAE6B;}
.form-control-feedback{ line-height:50px;}


.form-controlred{ box-shadow:none; border-color:#eee; height:49px;}
.form-controlred:focus{ box-shadow:none; border-color:#ed4e4e;}

.form-controlwhite{ box-shadow:none; border-color:#eee;}
.form-controlwhite:focus{ box-shadow:none; border-color:#eee;}


.main-btn{ background:#4CAE6B; border-color:#4CAE6B; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:3px;
}
#owl-demo .owl-item > div {
    padding: 0px 32px
}
.scroll-top {
    margin-bottom: -50px;
   position:fixed;
   bottom:0;
   right:6%;
   font-size:15px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 

#scroll{
    -webkit-transition: all .9s ease-in-out;
    -moz-transition:all .9s ease-in-out;
}

#scroll.affix{
    margin: 0px;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition:all .9s ease-in-out;
}


.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

#nav.affix {
   margin-top: -60px;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
}

#nav {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.l-wrapper {
    width: 100%;
    margin: 0 auto;
}
.u-pt3 {
    margin-top: 90px !important;
}
.img-round {
    margin-right: -20px;
}

.carousel {
    margin-bottom: 0;
    padding: 0 0px 30px 0px;
}
/* The controlsy */
.carousel-control {
  height: 30px;
  width: 30px;
  background: none repeat scroll 0 0 rgba(160, 153, 153, 0.61);
  border-radius: 10px;
}

body .carousel-control.right {
background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
background-repeat: repeat-x;
}



body .carousel-control.left {
background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
background-repeat: repeat-x;
}



/* The indicators */
.carousel-indicators {
  top: auto;
  bottom: -10px;
  padding: 5px;
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.navbar-collapses {
    border-top:2px;
    border-color:#343434;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  padding: 34px;
    
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}

/*sari paneller*/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #8a6d3b;
  background-color: #fff;
  border-color: #faebcc;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}

.checkbox{
  margin: 10px;
}

.carousel-indicators1 {
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  top: auto;
  
}

.carousel-indicators1 li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-indicators1 .active {
background: #428bca;
}

.scrollToTop{
  text-align:center; 
  text-decoration: none;
  position:fixed;
  top: 91%;
  right:40px;
}

.scrollToTop:hover{
  text-decoration:none;
}

.arka-taraf {

}

img.kucuk-logolar{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  opacity: 0.8;
}

img.kucuk-logolar:hover{
  -webkit-filter: grayscale(10%); 
  filter: grayscale(10%);
  filter: gray;
  opacity: 1;
}

img.main-logolar{
  max-width:100%;
}

