@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.pl {padding-left:10px;}
.fl {float: left;}
.fr {float: right;}
.pbn {padding-bottom: 0px;}
.mbn {margin-bottom:0px;}
.ptn {padding-top:0px;}
.mtn {margin-top:0px;}


html body {font-family: 'Roboto', sans-serif,Arial,sans-serif;}

/*body .container {width: 1024px;}*/
body .business-header {margin-top: -20px;}
body .navbar-default .navbar-nav>li>a {font-weight:600;color: #343434;}
body .navbar-nav {float: right;margin: 0;}
body .navbar-brand {float: left;height: 50px;padding: 9px 10px;font-size: 18px;line-height: 20px;}
body .btn-outline {color: #343434;background: transparent;border: 2px solid #343434;line-height: 18px;}
body .media-heading {margin-top: 0;margin-bottom: 5px;font-weight: 600;font-size: 15px;}
body .carousel-indicators .active {width: 12px;height: 12px;margin: 0;background-color: #ed4e4e;}
body .thumbnail {margin-bottom: 0px;}
body h5, .h5 {font-size: 16px;}
body blockquote {padding: 10px 20px;margin: 0 0 20px;font-size: 17.5px;border-top: 1px solid #a0a09f;background-color: #fcfbfb;border-left: 0px;text-align: center;margin-top: 0px;}
body .page-header {padding-bottom: 10px;margin: 60px 0 -20px;border-bottom: 1px solid #eee;}
body a {color: #ed4e4e;text-decoration: none;}

.portfoliotext {color:#a5a2a2; font-size: 20px; margin: 0 0 0px;}
.rottext {font-size:20px;padding-top:10px;}

.ftbg {background: url(../img/footerbg.png);}
/*.ftbg {background: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/dark_brick_wall.png);color: #fff;}*/
.rotbg {background: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/diagmonds.png);color: #fff;}
.newbg {background-color: #ed4e4e;}

.nav > li > a {
    padding: 15px 11px !important;
}

@media (max-width: 961px) {
    body .navbar-nav {
        float: none !important;
        background-color: rgba(255, 255, 255, 1);
    }
}



/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
Image credits: unsplash.com, uifaces.com/authorized
Image placeholders: placemi.com
*/


#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #345;    
}

/********************************/
/*          Panel cards         */
/********************************/
.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 180px;
    border-bottom-color: #fff;
    overflow: hidden;
    
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 25px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 55px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}