<ifModule mod_php4.c>
php_value zlib.output_compression 16386
</ifModule>
 
Options +FollowSymLinks
RewriteEngine on
directoryindex index.php
RewriteRule   ^/?img/projeler/(.*)  /img/$1

RewriteRule index					index.php
RewriteRule sosyal-duyarlilik		sosyal-duyarlilik.php
RewriteRule projeler				projeler.php 
RewriteRule neler-yapiyoruz			neler-yapiyoruz.php
RewriteRule iletisim				iletisim.php
RewriteRule referanslar				referanslar.php
RewriteRule form				/form/index.php

errorDocument 400	/404.php
errorDocument 401	/404.php
errorDocument 404	/404.php
errorDocument 500	/404.php




RewriteCond %{HTTP_HOST} ^http://pyro.com.tr/form/.index.php$ 
RewriteRule ^(.*)$ http://subdomain.newdomain.com/$1 [R=301,L] 


RewriteCond %{HTTP_HOST} ^www.subdomain.olddomain.com$ 
RewriteRule ^(.*)$ http://subdomain.newdomain.com/$1 [R=301,L]