<ifModule mod_php4.c>
php_value zlib.output_compression 16386
</ifModule>
 
Options +FollowSymLinks
RewriteEngine on
directoryindex index.php
RewriteRule   ^/?img/projeler/(.*)  /img/$1

RewriteRule index					index.php
RewriteRule sosyal-duyarlilik		sosyal-duyarlilik.php
RewriteRule projeler				projeler.php 
RewriteRule neler-yapiyoruz			neler-yapiyoruz.php
RewriteRule iletisim				iletisim.php
RewriteRule musteri-referanslar				musteri.php

errorDocument 400	/404.php
errorDocument 401	/404.php
errorDocument 404	/404.php
errorDocument 500	/404.php